# SPDX-FileCopyrightText: Copyright (c) 2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: LicenseRef-NVIDIA-SOFTWARE-LICENSE

[paths]
source =
    cuda/
    cuda\

[report]
show_missing = true

[run]
plugins = Cython.Coverage
core = ctrace
branch = False
dynamic_context = test_function
relative_files = True

[html]
show_contexts = True
